
    /*Style is here. */
    * {
      box-sizing: border-box;
    }
    section { clear: both; }

    p {
      width: 25%;
      border: 1px solid black;
      float: left;
      text-align: center;
      padding: 50px ;
    }

   #p1{ background-color: #A52A2A; }
   #p2{ background-color: #DEB887; }
   #p3{ background-color: #5F9EA0; }
   #p4{ background-color: #FF7F50; } 
  